/* ---------Day--------- */
.dayHeroImage{
    background-image: url('../image/sun.png');
    height: 100vh;
    background-size: cover;
}
.dayNavBar{
    background-color: white;
    height: 6vh;
}
.dayNavFont{
    color: #707070;
    
}
.dayCard{
    background-color: white;
    min-height: 250px;
    max-height: auto;
    border-radius: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
/* .dayHr {
  border:none;
  border-top:3px dotted #110c0c;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
} */
/* .dayLVDot
{
  border-left: 3px dotted #c7c5c5;
  color:#fff;
  background-color:#fff;
  height: 150px;
} */
/* .dayRVDot
{
  border-right: 3px dotted #c7c5c5;
  color:#fff;
  background-color:#fff;
  height: 150px;
} */
.dayMainTemp{
    font-size: 4.2rem;
}
.secCardTemp{
    font-size: 2rem;
}
.dayFiveForecast{
    border-radius: 10px;
    margin-left: 8px;
    
    width: 150px;
    background-color: rgba(255, 255, 255, 0.39);
    opacity: 61%;
}
.tempConvertText{
    text-decoration: none;
    color: white;
}


/* Favorite list btn stuff */
.dayFavLBtn{
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    width: 325px;
}
.btn-light:hover
{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
}
.favLText{
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* ---------Default stuff--------- */
.favBtnL{
    margin-bottom: 0%;
}
.linePad{
    padding-left: 5%;
    padding-right: 5%;
}

.fiveDayPad{
    padding-right: 0%;
}

.noMnoP{
    margin-top: 0%;
    padding-top: 0%;
}
.heart{
    height: 25px;
    width: 25px;
}
.mBot{
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.searchBtn{
    background-color: #BDB8F8;
    border-radius: 10%;
    height: 32px;
    width: 40px;
    margin-left: 5px;
}
/* .inputBox{
    width: 500%;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow:  0 0 10px #d1cccc;
    font-size: 9px;
    padding-left: 12px;
} */
.zeroPadLR{
    padding-left: 0%;
    padding-right: 0%;
}
.bodyMT{
    margin-top: 35px;
}




.credit{
    position: fixed;
    bottom: 0;
}

/* ---------Night--------- */
.nightHeroImage{
    background-image: url('../image/moon.png');
    height: 100vh;
    background-size: cover;
}
.nightNavBar{
    background-color: #2F2F2F;
    height: 6vh;
}
.nightNavFont{
    color: white;
}
.nightinputBox{
    width: 500%;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 9px;
    padding-left: 12px;
}
.nightCard{
    background-color: #2F2F2F;
    min-height: 250px;
    max-height: auto;
    border-radius: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.nightText{
    color: white;
}

.nightHr {
    border:none;
    border-top:3px dotted #c7c5c5;
    color:#fff;
    background-color:#2F2F2F;
    height:1px;
    width:100%;
  }
  .nightLVDot
  {
    border-left: 3px dotted #c7c5c5;
    color: #fff;
    background-color:#2F2F2F;
    height: 150px;
  }
  .nightRVDot
  {
    border-right: 3px dotted #c7c5c5;
    color:#fff;
    background-color:#2F2F2F;
    height: 150px;
  }
  .nightFiveForecast{
    border-radius: 10px;
    margin-left: 8px;
    
    width: 150px;
    background-color: rgba(18.4%, 18.4%, 18.4%, 0.39);
    
}

.nightFavLBtn{
    background-color: rgba(18.4%, 18.4%, 18.4%);
    border: none;
    border-radius: 10px;
    width: 325px;
}
.btnNight:hover
{
    text-decoration: none;
    background-color: rgba(18.4%, 18.4%, 18.4%);
    border: none;
}